*.o
BPmain
BST
MemMan
Payroll
SALdict
UALdict
alist
aqueue
astack
binsimp
bsearch
bubsort
ch14
ch3
ch4
ch7
collatz
comptest
dlist
excheck
exmrg1
exmrg2
exmrg3
fact
fib
flags
freetest1
freetest2
genfile
gentree
grbfsl
grbfsm
grconcoml
grconcomm
grdfsl
grdfsm
grdijkl1
grdijkl2
grdijkm1
grdijkm2
grfloydl
grfloydm
grkruskl
grkruskm
grpriml1
grpriml2
grprimm1
grprimm2
grtestl
grtestm
grtsbl
grtsbm
grtsdl
grtsdm
hashdict
hashsim
heap
heapsort
heapsort2
heapsort3
huffman
inssort
largest
llist
llistFL
lqueue
lstack
minmax
mrgsort1
mrgsort2
mrgsort3
phalt
preorder
printout
qsort1
qsort2
qsort3
qsort4
radix
selsort
shsort
shsort2
skipmain
swaptest
terminate
testhash
toh
travtest
ttmain
ufmain
ufsmain
varnodec
varnodei
